<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs", { title: currentFolder.name }) %>
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/modals/modal.css" />
    <link rel="stylesheet" href="/styles/modals/folder-modal.css" />
    <link rel="stylesheet" href="/styles/modals/file-upload-modal.css" />
    <link rel="stylesheet" href="/styles/files-index/heading.css" />
    <link rel="stylesheet" href="/styles/files-index/files-container.css" />
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <main>
      <% if (locals.messages.folderNameErrors) { %>
      <%- include("partials/components/alert.ejs", { errorMessages: messages.folderNameErrors }) %>
      <% } %>

      <%- include("partials/components/index-heading.ejs", { currentFolder }) %>
      <%- include("partials/components/files-list/files-list.ejs", 
        { currentFolder, currentFolderList, currentFilesList, folderPath }) %>
    </main>

    <script>
      const imports = {
        fileConstraints: <%- JSON.stringify(fileUtils.fileConstraints) %>,
        formatFileSize: <%- fileUtils.formatFileSize %>
      };
    </script>
    <script src="/scripts/folderOptions.js"></script>
    <script src="/scripts/folderActionToggle.js"></script>
    <script src="/scripts/upload.js"></script>
  </body>
</html>
