<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs", { title: fileDetails.name }) %>
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/file-details.css" />
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <main>
      <div class="heading">
        <h3><%= fileDetails.name %></h3>
        <p class="file-size"><%= fileDetails.formattedSize %></p>
      </div>
      <div class="file-details-container">
        <p class="upload-time-message">
          Uploaded at <%= fileDetails.formattedFullDate %>
        </p>
        <div class="action-container">
          <a href="./">Back to parent directory</a>
          <a 
            <% if (!isShareRoute) { %>
              href="/files/download?filepath=<%= filepath %>"
            <% } else { %>
              href="/share/<%= publicFolderId %>/download?filepath=<%= filepath %>"
            <% } %>
          > Download File </a>
        </div>
      </div>
    </main>
  </body>
</html>
