<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs", { title: currentFolder.name }) %>
  </head>
  <body>
    <main>
      <div class="heading">
        <h3><%= currentFolder.name %></h3>
        <button>Create a new folder</button>
        <form action="./new-folder/" method="post">
          <label for="new-folder-name">Folder name</label>
          <input id="new-folder-name" type="text" name="newFolderName" />
          <button type="submit">Create</button>
        </form>
      </div>
      <div class="files-content">
        <header>
          <p>Name</p>
          <p>Size</p>
          <p>Date</p>
        </header>
        <ul class="files-list">
          <% if (locals.parentDirectoryUrl) { %>
          <li><a href="<%= parentDirectoryUrl %>">Parent directory</a></li>
          <% } %>

          <% currentFolderList.forEach((folder) => { %>
          <li>
            <a href="./<%= folder.name %>"><%= folder.name %></a>

            <button>...</button>
            <span>
              <button class="rename-button">Rename folder</button>
              <dialog class="rename-dialog">
                <form
                  action="./<%= folder.name %>/rename-folder/"
                  method="post"
                >
                  <label>
                    Folder Name
                    <input type="text" name="folderNewName" />
                    <button type="submit">Rename</button>
                  </label>
                </form>
              </dialog>

              <form action="./<%= folder.name %>/delete-folder/" method="post">
                <button
                  type="submit"
                  onclick="return confirm('Do you really want to delete folder <%= folder.name %> and all of its content ? This action is irreversible.');"
                >
                  Delete folder
                </button>
              </form>
            </span>
          </li>
          <% }) %>
        </ul>
      </div>
    </main>
    <script src="/scripts/folderOptions.js"></script>
  </body>
</html>
