<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs", { title: currentFolder.name }) %>
  </head>
  <body>
    <main>
      <div class="heading">
        <h3><%= currentFolder.name %></h3>

        <button class="new-folder-button">Create a new folder</button>

        <button class="open-upload-modal-button">Upload a file</button>

        <dialog class="file-upload-modal">
          <form
            action="./upload-file/"
            method="post"
            enctype="multipart/form-data"
          >
            <button
              class="close-modal-button"
              type="button"
              aria-label="Close write folder name modal"
            >
              x
            </button>
            <input type="file" name="uploaded_file" />
            <button type="submit">Upload</button>
          </form>
        </dialog>

        <%- include("partials/folder-name-modal.ejs", { 
              formAction: "./new-folder/", 
              buttonName: "Create", 
              className: "new-folder-modal" 
            }) %>
      </div>
      <div class="files-content">
        <header>
          <p>Name</p>
          <p>Size</p>
          <p>Date</p>
        </header>

        <ul class="files-list">
          <% if (!currentFolder.is_root) { %>
          <li><a href="../">Parent directory</a></li>
          <% } %>

          <% currentFolderList.forEach((folder) => { %>
          <li>
            <a href="./<%= folder.name %>"><%= folder.name %></a>
            <p class="folder-size">-</p>
            <p class="folder-date"><%= folder.formattedDate %></p>

            <button>...</button>
            <span>
              <button class="rename-button">Rename folder</button>

              <% const formAction = `./${encodeURIComponent(folder.name)}/rename-folder/` %>
              <%- include("partials/folder-name-modal.ejs", { formAction,  buttonName: "Rename", className: "rename-modal"}) %>

              <form action="./<%= folder.name %>/delete-folder/" method="post">
                <button
                  type="submit"
                  onclick="return confirm('Do you really want to delete folder <%= folder.name %> and all of its content ? This action is irreversible.');"
                >
                  Delete folder
                </button>
              </form>
            </span>
          </li>
          <% }) %>

          <% currentFilesList.forEach((file) => { %>
          <li>
            <a href="./<%= file.name %>"><%= file.name %></a>
            <p class="file-size"><%= file.size %></p>
            <p class="file-date"><%= file.upload_time %></p>
          </li>
          <% }) %>
        </ul>
      </div>
    </main>
    <script src="/scripts/folderOptions.js"></script>
  </body>
</html>
